In [1]:
import pandas as pd

In [5]:
# import offset.csv and use first column as index
df = pd.read_csv('offset.csv', index_col=0)
df

     8191
0
1     128
2     128
3     127
4     128
5     127
..    ...
195   128
196   126
197   128
198   127
199   129

[199 rows x 1 columns]

In [8]:
# calculate mean of second column and drop the first row
df.iloc[1:,].mean()

8191    126.778894
dtype: float64